* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;

}

header {
    background-color: #48C5CE;
    text-align: center;
    color: whitesmoke;

}

.title {

    font-size: 24px;
    padding: 10px;

}

section {
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;

}

/* ---------- */
.formContainer {
    max-width: 230px;
    background-color: #FFFFFFBB;

    padding: 20px;
    float: right;
    color: black;

}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;


}

input[type="submit"] {
    color: white;
    font-weight: bold;
    background-color: #48C5CE;
}

footer {
    background-color: #48C5CE;
    text-align: center;

    padding: 40px;
}

.picture {
    width: 160px;


}

.description {

    display: inline-block;
    max-width: 40%;
    /* ------------------- */
    margin-left: 10px;
    color: white;
    text-align: justify;
    margin-top: 10px;

}


.description p,
.description h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    text-align: center;
}

@media screen and (max-width: 550px) {

    .formContainer {
        max-width: max-content;

    }
}